﻿@model List<int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Choose Sponsor ID</h1>

    <div class="row">
        @foreach (var id in Model)
        {
            <div>
				<a href="@Url.Action("Sponsor", "Sponsor", new { id = id })">@id</a>
            </div>
        }
    </div>
</div>
