﻿@model SponsorModel
@{
    ViewData["Title"] = "Sponsor";
}

<form asp-controller="Sponsor" asp-action="Update" class="text-center" style="width: 50%; margin: auto;">
    <h1 class="display-4">Sponsor</h1>
    <input asp-for="ID" class="col-sm-4" value="@Model.ID" name="ID" hidden />
    <div class="row">
        <input style="height: 40px;" asp-for="ID" class="col-sm-4" value=@Model.ID asp-for="ID" name="ID" disabled/>
        <input style="height: 40px;" asp-for="FirstName" class="col-sm-4" value=@Model.FirstName name="FirstName"></input>
        <input style="height: 40px;" asp-for="LastName" class="col-sm-4" value=@Model.LastName name="LastName"/>
    </div>
    
    <div class="row">
        <input style="height: 40px;" asp-for="Email" class="col-sm-8" value=@Model.Email name="Email" />
        <input style="height: 40px;" asp-for="BirthDate" class="col-sm-4" type="date" value=@Model.BirthDate.ToString("yyyy-MM-dd") name="BirthDate"/>
    </div>

    <div class="row">
        <input style="height: 100px;" asp-for="Note" class="col-sm-8" value=@Model.Note name="Note" />
        <div style="height: 100px;" class="col-sm-4">@Model.GetChildrenList()</div>
    </div>
    <div class="column">
        <button style="margin-top: 10px;" type="submit" class="btn btn-primary" >Update</button>
    </div> 
</form>
